@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap'); 
:root{
	--color-textos:#838383;
	--color-primario:#1379e7;
	--color-titulos:#1a1a1a;
	--fondo-footer:#efefef;
	--color-footer:#6d6d6d;
}
body{
	font-size: 15px;
	color: var(--color-textos);
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Poppins', sans-serif;
}
header{
	background-color: #fff;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

footer{
	text-align: center;
	padding: 20px 0;
	color: var(--color-footer);
}
footer #footer-sponsors{
	color: #fff;
}
footer #footer-sponsors h2{
	color: #1a1a1a;
	text-transform: uppercase;
	font-size: 15px;
}

footer #footer-sponsors h4{
	color:#6d6d6d;
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 2%;
}
footer #copyright{
	background-color: var(--fondo-footer);
	background-size: cover;
}

.section{
	padding: 8% 0;
}
.btn-primary{
	background-color: var(--color-primario);
	border: 0;
	padding: 10px 20px !important;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.titulo{
	font-size: 44px;
	line-height: 1.3;
	font-weight: 600;
	color: var(--color-titulos);
	font-style: normal;
	margin-bottom: 20px;
}
.titulos-section{
	font-size: 30px;
	color: var(--color-titulos);
	font-weight: 500px;
}

#hero{
	background-image: url( "../img/hero.jpg");
	background-size: cover;
	height: 100vh;
	/*resto de propiedades*/
}

#hero h1{
	color: var(--color-primario);
	font-weight: 300px;
	margin-top: 70%;
}

#hero p{
	padding: 20px;
	font-weight: 300px;
}

.iconos-hero{
	margin-top: 250px;
	text-align: center;
}
.btn-hero{
	border-radius: 100px;
	padding: 15px 30px;
	background-color: var(--color-primario);
	color: #fff;
	font-weight: 600;
	font-size: 10px;
	text-decoration: none;
}
.la-arrow-right{
	color: var(--color-primario);
}
#privacy h2{
	padding-bottom: 15px;
}
#privacy p{
	padding-bottom: 15px;
}
#privacy ul{
padding-left: 0;
	
}
#privacy ul img{
	padding-right: 10px;
}
#meet{
	margin-top: 250px;
	align-content: center;
}
#meet ul{
	padding-left: 0;
}
#meet i{
	padding-right: 10px;
}
#meet img{
	text-align: center;
	align-content: center;
}
#team h2 {
	font-size: 80px;
	font-weight: 500px;
	text-align: center;
	color: #f7f7f7;
}
h3{
	font-size: 16px;
	line-height: 1.3;
	font-weight: 700;
	color: var(--color-titulos);
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

















